* {padding: 0px; margin: 0px;}

.film_Details .title-pageFilms .row{
    margin-bottom: 20px;
}

.film_Details .title-pageFilms .row  h2 {
    color: rgb(34, 34, 34);
    font-family: 'Roboto', sans-serif !important;
    font-size: 28px;
    font-style: normal;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 600;
}
.film_Details .title-pageFilms .row  h2:after {
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 8px;
    content: '';
    background-color: #f26b38;
}
/*Movie card*/
.card-Movie {
    padding: 0px;
    position: relative;
    width: 90%;
    perspective: 1000px;
    transition: all 0.5s ease-in-out 0.5s;
    margin-bottom: 30px;
}
.card-Movie .box-img {
    transform: rotateY(0);
    transition: all 0.5s ease-in-out 0s;
}
.card-Movie:hover .box-img {
    transform: rotateY(-90deg);
}
.card-Movie .box-img img {
    width: 90%;
    height: 360px;
    border: 2px solid #000;
    border-radius: 10px;
}
.card-Movie .content-card{
    color: white;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}

.card-Movie:hover .content-card {
    transform: rotateY(0);
}

.card-Movie .content-card p {
    border-top: 1px solid white;
    padding: 20px 0;
    margin: 0 25px;
}

.card-Movie .button-card {
    background: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 195px 0px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    transform: rotateY(90deg);
    transition: all 0.5s ease-in-out 0s;
}
.card-Movie:hover .button-card{
    transform: rotateY(0);
}
.card-Movie:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px 5px solid #000;

}

.card-Movie .button-card li {
    list-style: none;
    padding: 15px 0;
}

.card-Movie .button-card a {
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px 10px;
    background: #27ae50;
    border-radius: 50px;
}

.card-Movie .button-card  a:hover {
    background: #10890c;
}

.movie_card{
    padding: 0 !important;
    width: 18rem;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
}
.movie_info{
    color: #5e5c5c;
}

.movie_info i{
    font-size: 20px;
}
.card-title{
    width: 80%;
    height: 4rem;
}
.play_button{
    background-color: #ff3d49;
       position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 20px;
    bottom: 111px;
    font-size: 27px;
    padding-left: 21px;
    padding-top: 16px;
    color: #FFFFFF;
    cursor: pointer;
}


/*Content*/
.details-title h2 {
    font-size: 32px;
    color: #43464b;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 34px;
    text-transform: uppercase!important;
}

.details-title h2:after {
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 10px;
    content: '';
    background-color: #f26b38;
}

.details-information {
    font-size: 15px;
}
.details-information.information-row{
    margin-bottom: 10px;
    line-height: 20px;
}
.information-row label {
    color: #a0a3a7;
}
.information-row span {
    color: #43464b;
    text-transform: capitalize;
    margin-left: 5px;
}
.details-title { 
    margin-bottom: 10px;
    padding-bottom: 5px;
}
/*button like*/
.add-button .button-like {
    outline: none;
    border-radius: 3px;
    font-size: 11px;
    height: 25px;
    padding: 2px 6px;
    background: #4080ff;
    border: 1px solid #4080ff;
    cursor: pointer;
    display: inline-block;
}
.add-button {
    margin: 7px 0px;
}
.add-button .button-like span{
    text-align: justify;
    color: white;
    font-weight: 800;
}

.button-booking {
    margin-left: 5px;
    background: none no-repeat scroll 0 0 #e71a0f;
    border-radius: 5px;
    display: inline-block;
    border: 0;
    padding: 10px 4px;
    font-size: 13px ;
    font-weight: bold;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}

.button-booking span {
    background: url(../img/icon-cate-booking.png) no-repeat scroll left center rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 1px solid #f07469;
    font-weight: bold;
    padding-left: 25px !important;
    padding: 8px;
}
.button-booking span a {
    text-decoration: none;
    color: white;
    padding: 7px;
}

.content-details h3 {
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif !important;
}
.content-details h3:after {
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 8px;
    content: '';
    background-color: #f26b38;
}
.content-movies p {
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto', sans-serif !important;
}